body {
  background-color: #F8F8F8 !important;
}

/* To hide the react-error-overlay page */
body > iframe {
  display: none;
}

.container {
  background: #FFFFFF;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  background: #D3D3D3;
  font-size: 16px;
}

.header .col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
}

.ant-select {
  width: 180px;
}

.label {
  margin-right: 15px;
}
